<h1 style="color:red;"><%= @superhero.name %></h1>
<h2 style="color:blue;"><%= @superhero.super_name %></h2>
<h3><%= link_to @superhero.superpower.name.capitalize, superpower_path(@superhero.superpower) %></h3>
